@import './variables.scss';

main {
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.file-input-wrapper {
    display: none;
}

.drop-area {
    width: 80vw;
    height: 30vh;
    border: 2px dashed pink;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-area-text {
    color: gray;
}

.drop-area-hover {
    background-color: rgba(228, 219, 219, 0.15);
}

.drop-area-thumbnail {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    overflow-x: auto;
}

.drop-area-pdf-preview {
    max-width: 200px;
    height: 15vh;
    margin: 0 1%;
}

.button-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;

    @media (max-width: $mobile-max) {
        flex-direction: column;
        margin-top: 10%;
    }
}

.button-row-button {
    margin: 0 2%;
    width: 15vw;
    background-color: pink;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    outline: none;

    @media (min-width: $large-desktop) {
        width: 10%;
    }

    @media (max-width: $mobile-max) {
        width: 60vw;
        margin: 2% auto;
    }

    &:hover, &:active {
        background-color: white;
        color: pink;
    }

    &:disabled {
        background-color: lightgray;

        &:hover, &:active {
            color: white;
        }
    }
}
